@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/whiteA.css";
@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/grayDark.css";

/* @font-face {
  font-family: "Aktiv Grotesk";
  src: url("/fonts/AktivGroteskVF_W_Wght.woff2")
      format("woff2 supports variations"),
    url("/fonts/AktivGroteskVF_W_Wght.woff2") format("woff2-variations");

  font-weight: 100 900;
} */
@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextMedium.eot');
  src: local('Magnat Text Medium'), local('/fonts/magnat/Magnat-TextMedium'),
      url('/fonts/magnat/Magnat-TextMedium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextMedium.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextMedium.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextLightItalic.eot');
  src: local('Magnat Text Light Italic'), local('/fonts/magnat/Magnat-TextLightItalic'),
      url('/fonts/magnat/Magnat-TextLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextLightItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextLightItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextRegularItalic.eot');
  src: local('Magnat Text Regular Italic'), local('/fonts/magnat/Magnat-TextRegularItalic'),
      url('/fonts/magnat/Magnat-TextRegularItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextRegularItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextRegularItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadExtraBold.eot');
  src: local('Magnat Head ExtraBold'), local('/fonts/magnat/Magnat-HeadExtraBold'),
      url('/fonts/magnat/Magnat-HeadExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadExtraBold.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadExtraBold.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadLight.eot');
  src: local('Magnat Head Light'), local('/fonts/magnat/Magnat-HeadLight'),
      url('/fonts/magnat/Magnat-HeadLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadLight.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadLight.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextBoldItalic.eot');
  src: local('Magnat Text Bold Italic'), local('/fonts/magnat/Magnat-TextBoldItalic'),
      url('/fonts/magnat/Magnat-TextBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextBoldItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextBoldItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextLight.eot');
  src: local('Magnat Text Light'), local('/fonts/magnat/Magnat-TextLight'),
      url('/fonts/magnat/Magnat-TextLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextLight.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextLight.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextExtraBoldItalic.eot');
  src: local('Magnat Text ExtraBold Italic'), local('/fonts/magnat/Magnat-TextExtraBoldItalic'),
      url('/fonts/magnat/Magnat-TextExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextExtraBoldItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadSemiBoldItalic.eot');
  src: local('Magnat Head SemiBold Italic'), local('/fonts/magnat/Magnat-HeadSemiBoldItalic'),
      url('/fonts/magnat/Magnat-HeadSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadSemiBoldItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadSemiBoldItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadSemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadRegular.eot');
  src: local('Magnat Head Regular'), local('/fonts/magnat/Magnat-HeadRegular'),
      url('/fonts/magnat/Magnat-HeadRegular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadRegular.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadRegular.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadLightItalic.eot');
  src: local('Magnat Head Light Italic'), local('/fonts/magnat/Magnat-HeadLightItalic'),
      url('/fonts/magnat/Magnat-HeadLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadLightItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadLightItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadBoldItalic.eot');
  src: local('Magnat Head Bold Italic'), local('/fonts/magnat/Magnat-HeadBoldItalic'),
      url('/fonts/magnat/Magnat-HeadBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadBoldItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadBoldItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadBold.eot');
  src: local('Magnat Head Bold'), local('/fonts/magnat/Magnat-HeadBold'),
      url('/fonts/magnat/Magnat-HeadBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadBold.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadBold.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadMedium.eot');
  src: local('Magnat Head Medium'), local('/fonts/magnat/Magnat-HeadMedium'),
      url('/fonts/magnat/Magnat-HeadMedium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadMedium.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadMedium.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadExtraBoldItalic.eot');
  src: local('Magnat Head ExtraBold Italic'), local('/fonts/magnat/Magnat-HeadExtraBoldItalic'),
      url('/fonts/magnat/Magnat-HeadExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadExtraBoldItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextSemiBoldItalic.eot');
  src: local('Magnat Text SemiBold Italic'), local('/fonts/magnat/Magnat-TextSemiBoldItalic'),
      url('/fonts/magnat/Magnat-TextSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextSemiBoldItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextSemiBoldItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextSemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextRegular.eot');
  src: local('Magnat Text Regular'), local('/fonts/magnat/Magnat-TextRegular'),
      url('/fonts/magnat/Magnat-TextRegular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextRegular.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextRegular.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextSemiBold.eot');
  src: local('Magnat Text SemiBold'), local('/fonts/magnat/Magnat-TextSemiBold'),
      url('/fonts/magnat/Magnat-TextSemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextSemiBold.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextSemiBold.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextBold.eot');
  src: local('Magnat Text Bold'), local('/fonts/magnat/Magnat-TextBold'),
      url('/fonts/magnat/Magnat-TextBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextBold.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextBold.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextMediumItalic.eot');
  src: local('Magnat Text Medium Italic'), local('/fonts/magnat/Magnat-TextMediumItalic'),
      url('/fonts/magnat/Magnat-TextMediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextMediumItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextMediumItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Text';
  src: url('/fonts/magnat/Magnat-TextExtraBold.eot');
  src: local('Magnat Text ExtraBold'), local('/fonts/magnat/Magnat-TextExtraBold'),
      url('/fonts/magnat/Magnat-TextExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-TextExtraBold.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-TextExtraBold.woff') format('woff'),
      url('/fonts/magnat/Magnat-TextExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadRegularItalic.eot');
  src: local('Magnat Head Regular Italic'), local('/fonts/magnat/Magnat-HeadRegularItalic'),
      url('/fonts/magnat/Magnat-HeadRegularItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadRegularItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadRegularItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadSemiBold.eot');
  src: local('Magnat Head SemiBold'), local('/fonts/magnat/Magnat-HeadSemiBold'),
      url('/fonts/magnat/Magnat-HeadSemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadSemiBold.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadSemiBold.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Magnat Head';
  src: url('/fonts/magnat/Magnat-HeadMediumItalic.eot');
  src: local('Magnat Head Medium Italic'), local('/fonts/magnat/Magnat-HeadMediumItalic'),
      url('/fonts/magnat/Magnat-HeadMediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/magnat/Magnat-HeadMediumItalic.woff2') format('woff2'),
      url('/fonts/magnat/Magnat-HeadMediumItalic.woff') format('woff'),
      url('/fonts/magnat/Magnat-HeadMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Point */
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Magnat Text", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Magnat Text", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
}

:root {
  --font-sans: Magnat Text;
  /* --font-serif: Blanco; */

  --font-l: 14.9px;
  --font-m: 13.7px;
  --font-s: 12.3px;

  --appbg: rgb(252, 252, 252);
  --bg: white;
  --bgSticky: rgba(255, 255, 255, 0.746);

  --menu: rgba(255, 255, 255, 0.452);
  --menuLabel: rgba(0, 0, 0, 0.825);

  --highlight: rgba(255, 255, 255, 0.589);
  --highlighthover: rgba(255, 255, 255, 0.5);
  --highlightActiveBorder: rgba(0, 0, 0, 0.08);
  --tabbg: rgba(0, 0, 0, 0.071);
  --tabText: rgba(0, 0, 0, 0.344);

  --linkContainerBg: rgb(255, 255, 255);
  --linkContainerBorder: rgb(245, 245, 245);
  --linkContainerBgHover: rgb(243, 243, 243);
  --linkContainerBorderHover: rgb(230, 230, 230);

  --overlayDarkness: rgba(0 0 0 / 0.3);
  --modalBg: rgb(255, 255, 255);

  --imageBg: #f9fafb;
  --highlightColor:rgba(255,205,179,0.5) 
}
@media (max-width: 700px) {
  :root {
    --font-l: 16px;
    --font-m: 14.8px;
    --font-s: 13.3px;
  }
}
::selection {
  background: var(--highlightColor);
}
.dark-theme {
  /* Remap your colors for dark mode */
  --appbg: rgb(26, 26, 26);
  --bg: rgb(16, 16, 16);
  /* --bg: hsl(200, 7.0%, 8.8%); */
  --bgSticky: rgba(16, 16, 16, 0.746);

  --menu: rgba(10, 10, 10, 0.8);
  --menuLabel: rgba(255, 255, 255, 0.8);
  --highlight: rgba(255, 255, 255, 0.1);
  --highlighthover: rgba(255, 255, 255, 0.05);
  --highlightActiveBorder: rgba(255, 255, 255, 0.04);
  --tabbg: rgba(255, 255, 255, 0.08);
  --tabText: rgba(255, 255, 255, 0.372);

  --linkContainerBg: rgb(21, 21, 21);
  --linkContainerBorder: rgb(26, 26, 26);
  --linkContainerBgHover: rgb(42, 42, 42);
  --linkContainerBorderHover: rgb(45, 45, 45);

  --overlayDarkness: rgba(0 0 0 / 0.65);
  --modalBg: rgb(28, 28, 28);

  --imageBg: #191919;
  --highlightColor: rgba(138,109,93,0.5) 
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.08;
  z-index: -1;
  height: 100%;
}

.dark-theme .bg {
  opacity: 0.08;
}
.dark-theme .iconInvert {
  filter: invert(1);
  transition: color 0.2s ease;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
button {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  position: relative;
}
h1, h2{
  font-family: "Magnat Head", serif;
  font-weight: 600 !important;
  letter-spacing: -1px;
}
p {
  letter-spacing: 0.1px;
  font-weight: 300;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
code {
  background: var(--gray5);
  border-radius: 3px;
  padding: 0px 4px;
  margin: 0px 0px 0px;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.tag {
  padding: 3px 4px;
  margin-left: 3px;
  border-radius: 3px;
  font-size: var(--font-s);
  line-height: 1;
  color: rgba(0, 0, 0, 0.74);
  transition: all 0.2s ease;
}
.dark-theme .tag {
  color: rgba(255, 255, 255, 0.68);
}
.defaultTag {
  background-color: #f1f1f0;
}
.grayTag {
  background-color: #e3e2e0;
}
.brownTag {
  background-color: #ece1db;
}
.orangeTag {
  background-color: #f6dfcc;
}
.yellowTag {
  background-color: #faedcc;
}
.greenTag {
  background-color: #dfeddd;
}
.blueTag {
  background-color: #d7e5ee;
}
.purpleTag {
  background-color: #e6dfed;
}
.pinkTag {
  background-color: #f2e1e9;
}
.redTag {
  background-color: #fae3de;
}

.dark-theme .defaultTag {
  background-color: #414141;
}
.dark-theme .grayTag {
  background-color: #5a5a5a;
}

.dark-theme .brownTag {
  background-color: #5b3d2f;
}

.dark-theme .orangeTag {
  background-color: #7d4f27;
}

.dark-theme .yellowTag {
  background-color: #836534;
}

.dark-theme .greenTag {
  background-color: #375841;
}

.dark-theme .blueTag {
  background-color: #2f4469;
}

.dark-theme .purpleTag {
  background-color: #453061;
}

.dark-theme .pinkTag {
  background-color: #62344b;
}

.dark-theme .redTag {
  background-color: #673932;
}

@media (max-width: 700px) {
  .tag {
    margin-left: 0px;
    margin-right: 3px;
  }
}
